@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #4649af;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: right;
}

ul.links li {
    text-decoration: none;
    list-style: none;

}

section {

    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section:nth-of-type(odd) {
    background-color: #aeaeae;
}

section:nth-of-type(even) {
    background-color: #8c8c8c;
}



#banner-video {
    min-width: 100%;
    min-height: 100%;
}

.video-container {
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

nav.nav-bar {
    width: 100%;
    background-color: rgba(9, 8, 13, 0.78);
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    font-size: 24px;

}

nav > ul > li {
    height: 100%;
    display: inline-block;
}

ul > li {
    margin: 5px;
    padding: 5px;
    padding-top: 20px;
}

ul.logo > li > img {
    height: 40px;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 32px;
}

div.section-text p {
    max-width: 400px;
    margin: 10%;
}

#bootcamp-img
{
    height:300px;
    width:auto;
    margin:10%;
}
